@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <h1 class="display-4">Hello Buffs!</h1>
    <img alt="Buffalo logo" class="imglargecenter" src="http://wtamu.edu/webres/Image/Site%20Pictures/News/graphic_standards_2015fall/buffalo_7421.png" style="display: block; margin-left: auto; margin-right: auto; max-width: 216px;">
     
    <h3 class="display-4">Welcome to Coding Club</h2>
    <p>Join us at email:Codingclub@wtamu.edu </p>
</div>






